<!DOCTYPE html>
<html lang="en" ng-app = "myapp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Library Application</title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>

</head>

<body>
    <div id="wrapper" class = "container-fluid">
            <header class="container">
            	<div class="row">
            		<div class="col-sm-6 col-md-6 col-lg-6 logo">
            			<a href="/">Go<span>Library</span></a>
            		</div>
            		<div class="col-sm-6 col-md-6 col-lg-6">
            			
            		</div>
            	</div>
            </header>
            <section class="container" style="background-color: #fff; height: 500px">
                <h2 style="color: green; text-align: center"><%= message %></h2>
                <p class="infobooks" style="text-align: center; font-size: 18px;display:block;padding: 10px 20px;margin: 0 auto"><a href="/api/user1/fcb">YES</a>&nbsp; &nbsp; &nbsp; <a href="#">NO</a></P>
                   
            </section>            
            
        </div>
    </div><!-- end of wrapper div -->
    	
</body>
</html>

