<!DOCTYPE html>
<html lang="en" ng-app = "myapp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Library Application</title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
</head>
<body>
    <div id="wrapper" class = "container-fluid">
        <header class="container">
        	<div class="row">
        		<div class="col-sm-6 col-md-6 col-lg-6 logo">
        			<a href="/">Go<span>Library</span></a>
        		</div>
        		<div class="col-sm-6 col-md-6 col-lg-6">
        			
        		</div>
        	</div>
        </header>
        <section class="container" style="background-color: #fff; height: 500px">
            <h2 style="color: green; text-align: center"><%= message %></h2>
            <p class="infobooks" style="text-align: center; color : green; font-size: 18px;display:block;padding: 10px 20px; background-color: green;margin: 0 auto"><a href="/user/jkjustkidding">View Books List</a></P>
            <p class="infobooks" style="text-align: center; color : green; font-size: 18px;display:block;padding: 10px 20px; background-color: green;margin: 0 auto"><a href="/admin/godson">Back To Admin</a></P>               
        </section>            
        <footer class="container-fluid">
        	<div class="row innerfoot">
            	<div class="col-sm-8 col-md-8 col-lg-8">
                <ul>
                	<li class="hd">Test & Resources</li>
                    <li><a href="#">JAMB CBT </a></li>
                    <li><a href="#">WAEC CBT</a></li>
                    <li><a href="#">POST UME</a></li>
                    <li><a href="#">NECO CBT</a></li>
                    <li><a href="#">MOCK TEST</a></li>
                    <li><a href="#">EXAM GUIDE</a></li>
            	</ul>
                <ul>
                	<li class="hd">Menu</li>
                	<li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Class</a></li>
                    <li><a href="#">Library</a></li>
                </ul>
                <ul>
                	<li class="hd">Socials</li>
                	<li><a href="#">Google+</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="sign">
                	<a href="#">info@Nicademia.com</a>
                	<p>Sign up for our newsletter and we'll inform you of <br/>
                    updates, offers and more...</p>
                    <form>
                    	<input type="email" placeholder="Your Email Address" />
                        <a href="#"><span>Sign up</span></a>
                    </form>
                </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
               	 	<p class="copyright">Copyright @ 2016, ANDELA Bootcamp</p>
                </div>
            </div>
        </footer>
        </div>
    </div><!-- end of wrapper div -->
    	
</body>
</html>

